@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  color: #444
}

.modal {
  position: fixed;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
}

.modal-main {
  position:fixed;
  background: white;
  width: auto;
  height: auto;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 0;
}

.modal-main input {
  outline: none;
  text-align: center;
  overflow: auto;
  font-size: 1.5em;
  font-family: inherit;
}

#media-container {
  position: fixed;
}

video, audio {
  width: 480px !important;
}

video {
  height: auto;
  border: 1px #CCC solid
}

audio {
  height: 55px;
}

#media-label {
  position: fixed;
  font-size: .5em;
  padding-left: .5em;
}

p {
  margin-left: 480px;
  padding: 0 20px;
}

.thin-underline {
    border-bottom: 3px solid red;
}

#download-transcript {
  position: fixed;
  bottom: 1%;
}